<!DOCTYPE html>
<html>
<head>
    <title>Rails Demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <%= stylesheet_link_tag 'asciidoctor-github', media: 'all' %>
    <%= stylesheet_link_tag 'pure-release-0.6.0/forms', media: 'all' %>
    <%= stylesheet_link_tag 'pure-release-0.6.0/buttons', media: 'all' %>
    <%= stylesheet_link_tag 'pure-release-0.6.0/grids', media: 'all' %>
    <%= stylesheet_link_tag 'pure-release-0.6.0/menus', media: 'all' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= javascript_include_tag 'jquery-3.1.1' %>
    <%= javascript_include_tag 'jquery_ujs' %>

    <%= csrf_meta_tags %>
</head>
<body>

<div id="content">

    <div class="pure-menu pure-menu-horizontal">
        <spam class="pure-menu-heading pure-menu-item">Rails Demo</spam>
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><%= link_to 'People', '/people', class: 'pure-menu-link' %></li>
            <%= yield :menu %>
        </ul>
    </div>

    <%= yield %>

    <footer>
        <p></p>
        <p>
            Platform:
            <code><%= ApplicationController::PLATFORM %></code>
        </p>
    </footer>

</div>

</body>
</html>
